<!--
 * @Description: 
 * @version: 
 * @Author: Adxiong
 * @Date: 2022-06-24 01:31:43
 * @LastEditors: Adxiong
 * @LastEditTime: 2022-06-24 02:06:33
-->
<div class="wrapper-sidebar">
  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>